<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RepositoryServlet</servlet-name>
        <servlet-class>com.christopheridah.soen387repository.ui.RepositoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.christopheridah.soen387repository.ui.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.christopheridah.soen387repository.ui.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.christopheridah.soen387repository.ui.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepositoryServlet</servlet-name>
        <url-pattern>/RepositoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file> login.html </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error page.html</location>
    </error-page>
</web-app>
